/* Icons */

.right-arrow-icon {
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

a.icon-link {
  transition: transform 200ms ease-in-out;
}

a.icon-link:hover {
  cursor: pointer;
  stroke-width: 5;
  margin: 0;
  transform: rotate(15deg);
}


/* Navbar Styling */

.navbar {

  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: green; */
  /* background-color: white  */
  z-index: 1;
}

.nav-title-link {
  color: black;
  text-decoration: none;
}

.nav-title-link:hover {
  text-decoration: underline;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  .navbar {
    padding: 20px 20px;
    background-color: white
  }
}








/* Button Styling */

a.button {
  background-color: white;
  padding: 8px 16px;
  border: 3px solid #141414;
  border-radius: 50px;
  color: black;
  text-decoration: none;
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
}

a.button:hover {
  text-decoration-thickness: 2px;
  cursor: pointer;
  background-color: rgb(227, 227, 227);
}


/* TODO button status changed while active */
/* .active, a.button{
  background-color: rgb(250, 18, 18);
} */




.collapsible {
  background-color: rgb(231, 231, 231);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: rgb(227, 227, 227);
}


.collapsible:after {
  content: '\002B';
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}


/* Style the collapsible content. Note: hidden by default */
.collapsibleContent {
  position: relative;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}





/* dropdown */
.dropdown {
  width: 200px;
  position: relative;
  display: inline-block;
}

.dropbtn {

  background-color: white;
  padding: 8px 36px;
  border: 3px solid #141414;
  border-radius: 50px;
  color: black;
  text-decoration: none;
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 16px;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  width: fit-content;
  display: none;
  position: absolute;
  background-color: #ffffffeb;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 16px;
  font-weight: 500;
  gap: 5px;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #c2c2c2;}




/* Footer Styling */

#footer {
  width: 100%;
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* Link Styling */
a.no-underline {
  text-decoration: none;
  color: black
}

a.no-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #footer {
    padding: 20px 20px;
  }
}


/* Floating button */
#float-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
}